@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color:#dddddd
}

.width50 {
    width: 50%;
}

.column {
    flex-direction: column;
}

.width30 {
    width: 30%;
}

.spaceBetween {
    justify-content: space-between;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1000px;
    margin: auto;
    width: 100%
}

.alignItems {
    align-items: center;
}

/*Header*/

.logoHeader {
    width: 10%;
}

header {
    padding: 10px 20px;
    background-color: #dddddd;
    position: fixed;
    width: 100%;
    z-index: 10000;
    top: -100px;
    transition: 0.7s;
}
header.scrolled{
    top:-10px
}

.btnPre {
    background-color: #ff8400;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 20px;
}

nav a {
    position: relative;
    color: black;
    font-weight: 500;
}
 nav a:after{
    content: "";
    position: absolute;
    background-color: #ff8400;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0,4s;
}
nav a:hover::after{
    width: 100%;
}

/*hero*/
.paddingHero {

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 25vh;
}

h1 {
    font-family: "Michroma", sans-serif;
    font-weight: 300;
    font-size: 60px;
    text-align: center;
    margin-right: 30px;
}

.cta {
    background-color: #ff8400;
    margin-top: 20px;
    display: flex;
    padding: 10px 20px;
    border-radius: 20px;
    color: #ffffff;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.a {
    color: #ff8400;
}

h2 {
    margin-top: 10px;
    text-align: center;
    font-weight: 300;
}

/*Presentation*/
.heightVH{
    height: 100vh;
}

h3{
    font-family: "Michroma", sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 30px;
}
.imgPre{
    width: 50%;
    margin-top: -10px;
}
p{
    line-height: 30px;
    margin-bottom: 40px;
}
.spline{
    height: 100vr;
    width: 100%;
}
.cache{
    height: 80px;
    width: 150px;
    background-color: #dddddd;
    position: absolute;
    top: 1450px;
    left: 470px;
    z-index: 9999;
}